
.table.hover-highlight tbody tr:hover {
    background-color: #1212c2 !important; /* blue background on hover */
    cursor: pointer; /* Change cursor to indicate interactivity */
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #85edff;
    cursor: pointer; /* Change cursor to indicate interactivity */

}

.custom-table-header {
    font-size: 14px;
    /* other styles */
}
.custom-table-row {
    font-size: 14px;
    /* other styles */
}
/* New CSS for Top-level Menu Hover */
.navbar-nav .nav-link:hover {
    background-color: #9b7d13; /* green background on hover for menu items */
    border-radius: 5px; /* Slight rounding of corners */
}

.custom-navbar {
    background-color: #fcd95c;
}

.custom-navbar .dropdown-item:hover {
    background-color: #9b7d13; /* Your desired hover color */
/*    color: #0000;  If you want to change the text color on hover */
}

.custom-navbar .dropdown-menu {
    background-color: #fcd95c; /* Same as your navbar's background color */
}



.btn-ok {
/*
    margin-top: 20px; 
    margin-left: 10px
*/
    background-color: #007bff; /* Bootstrap primary color */
    color: white;
}

.btn-ok:hover {
    background-color: #0056b3; /* Darker shade for hover effect */
}

.btn-cancel {
/*    
    margin-top: 20px; 
    margin-left: 10px; 
*/
    background-color: #dc3545; /* Bootstrap danger color */
    color: white;
}

.btn-cancel:hover {
    background-color: #bd2130; /* Darker shade for hover effect */
}

.btn-generic {
    /*    
        margin-top: 20px; 
        margin-left: 10px; 
    */
        background-color: #019bf5; /* Bootstrap danger color */
        color: white;
    }
    
.btn-generic:hover {
    background-color: #0076ba; /* Darker shade for hover effect */
}

/* font sizes to be used for various elements */
.fs-20 {
    font-size: 20px;
}

.fs-16 {
    font-size: 16px;
}

.fs-14 {
    font-size: 14px;
}

.fs-12 {
    font-size: 12px;
}

.fs-10 {
    font-size: 10px;
}


/* input field sizes: small, medium, large, huge */
.input-small {
    width: 20%;
}

.input-medium {
    width: 40%; 
}

.input-large {
    width: 60%; 
}

.input-huge {
    width: 60%; 
}

/* size adjustments for Bootstrap cards */
.card-width-changepass {
    max-width: 480px; 
}

.card-width-userform {
    max-width: 480px; 
}

.card-width-loginform {
    max-width: 280px; 
}


/* primary button colour override */
.btn-primary {
    background-color: #9b7d13;
    border-color: #9b7d13; 
    color: #d3d3d3;
}

/* primary button hover colour override */
.btn-primary:hover {
    background-color: #fcd95c; 
    color: #ffffff; 
}

/* colour fine-tuning for pagination controls */
.custom-pagination .page-link {
    background-color: #9b7d13; 
    color: #d3d3d3; 
}

.custom-pagination .page-link:hover {
    background-color: #fcd95c; 
    color: #ffffff;
}

.custom-pagination .page-item.active .page-link {
    background-color: #4e3f0c; 
    color: #ffffff;

}

.brand-logo-fonts {
    font-family: 'Bebas Neue', Arial, sans-serif;
}

.token-cell .token-display {
    max-width: 400px; /* Adjust the width as needed */
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow: hidden;
    height: auto; /* Adjust height as needed, or set to 'auto' */
}

.token-cell .token-textarea {
    position: absolute;
    left: -9999px;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.break-text {
    word-break: break-word; /* This will break long words */
    /* Or, for more control: */
    white-space: normal; /* Allow the text to wrap */
    width: 110px; /* Adjust as needed */
}